<h2>Cocktails</h2>
<%= link_to 'Add new cocktail', new_cocktail_path, class: 'add btn btn-success' %>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail.id), class: 'link' %></li>
  <% end %>
</ul>
